<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

**Exercise 1: Create a Jupyter Notebook**

Name: Peer-graded_Assignment_Submitting_My_Work

**Exercise 2 - Create a markdown cell with the title of the notebook:**

Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

List popular languages that are used by Data Scientists

List commonly used libraries used by Data Scientists

Execute arithmetic

**Exercise 4 - Create a markdown cell to list data science languages**

This list is comprised of the most popular languages used:

Python

R

SQL

Java

Julia

Scala

C/C++

JavaScript

**Exercise 5 - Create a markdown cell to list data science libraries**

This list contains the most popular libraries used by Data Scientists:


Pandas

TensorFlow

NumPy

SciPy

Keras

SciKit-Learn

PyTorch

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
|---|
|SAS|
|Apache Spark|
|PowerBi|
|BigML|
|Tableau|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [2]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

**Exercise 8 - Create a code cell to multiply and add numbers**

This is an arithmetic expression that multiplies then adds integers

In [5]:
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

This will convert 200 minutes to hours by diving by 60

In [9]:
minutes = 60

time = 200

hours = time / minutes

print(str(hours) + " hours")

3.3333333333333335 hours

**Exercise 10 -Insert a markdown cell to list Objectives**

*Objectives:* 

<li>Master the most up-to-date skills and knowledge that data scientists use in their daily lives
    
<li>Learn the most popular tools and languages used by professional data scientists
    
<li>Apply the new skills learned in real world exercises

**Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name**

Author:
Saro Belekdanian